In [14]:
import pandas as pd
import numpy as np

In [45]:
AminoAcid = ["Ala", "Cys", "Leu","Met","Glu","Gln","His","Lys","Val","Ile","Phe","Tyr","Trp","Thr","Gly","Ser","Asp",
             "Asn","Pro","Arg"]
AminoAcid = pd.DataFrame(AminoAcid)
AminoAcid = AminoAcid.rename(columns = {0:"AminoAcid"})
AminoAcid.head()

  AminoAcid
0       Ala
1       Cys
2       Leu
3       Met
4       Glu

In [44]:
AlphaHelix = [1.29,1.11,1.30,1.47,1.44,1.27,1.22,1.23,0.91,0.97,1.07,0.72,0.99, 0.82,0.56,0.82,1.04,0.90,0.52,0.96]
AlphaHelix = pd.DataFrame(AlphaHelix)
AlphaHelix = AlphaHelix.rename(columns={0:"AlphaHelix"})
AlphaHelix.head()

   AlphaHelix
0        1.29
1        1.11
2        1.30
3        1.47
4        1.44

In [47]:
BetaSheet = [0.90,0.74 ,1.02 ,0.97 ,0.75 ,0.80 ,1.08 ,0.77, 1.49,1.45 ,1.32 ,1.25 ,1.14 ,1.21 ,0.92 ,0.95,
            0.72,0.76,0.64,0.99]
BetaSheet = pd.DataFrame(BetaSheet)
BetaSheet = BetaSheet.rename(columns={0:"BetaSheet"})
BetaSheet.head()

   BetaSheet
0       0.90
1       0.74
2       1.02
3       0.97
4       0.75

In [41]:
Turn = [0.78,0.80,0.59,0.39,1,0.97,0.69,0.96,0.47,0.51,0.58,1.05,0.75, 1.03, 1.64, 1.33, 1.41, 1.23, 1.91, 0.88]

Turn = pd.DataFrame(Turn)
Turn = Turn.rename(columns={0:"Turn"})
Turn.head()

   Turn
0  0.78
1  0.80
2  0.59
3  0.39
4  1.00

In [48]:
chou_fasman_chart = pd.concat([AminoAcid,AlphaHelix,BetaSheet,Turn],sort = False, axis=1)
chou_fasman_chart

   AminoAcid  AlphaHelix  BetaSheet  Turn
0        Ala        1.29       0.90  0.78
1        Cys        1.11       0.74  0.80
2        Leu        1.30       1.02  0.59
3        Met        1.47       0.97  0.39
4        Glu        1.44       0.75  1.00
5        Gln        1.27       0.80  0.97
6        His        1.22       1.08  0.69
7        Lys        1.23       0.77  0.96
8        Val        0.91       1.49  0.47
9        Ile        0.97       1.45  0.51
10       Phe        1.07       1.32  0.58
11       Tyr        0.72       1.25  1.05
12       Trp        0.99       1.14  0.75
13       Thr        0.82       1.21  1.03
14       Gly        0.56       0.92  1.64
15       Ser        0.82       0.95  1.33
16       Asp        1.04       0.72  1.41
17       Asn        0.90       0.76  1.23
18       Pro        0.52       0.64  1.91
19       Arg        0.96       0.99  0.88