In [2]:
import pandas as pd
import numpy as np

In [3]:
AminoAcid = ["Ala", "Cys", "Leu","Met","Glu","Gln","His","Lys","Val","Ile","Phe","Tyr","Trp","Thr","Gly","Ser","Asp",
             "Asn","Pro","Arg"]
AminoAcid = pd.DataFrame(AminoAcid)
AminoAcid = AminoAcid.rename(columns = {0:"AminoAcid"})
AminoAcid.head()

  AminoAcid
0       Ala
1       Cys
2       Leu
3       Met
4       Glu

In [4]:
AlphaHelix = [1.29,1.11,1.30,1.47,1.44,1.27,1.22,1.23,0.91,0.97,1.07,0.72,0.99, 0.82,0.56,0.82,1.04,0.90,0.52,0.96]
AlphaHelix = pd.DataFrame(AlphaHelix)
AlphaHelix = AlphaHelix.rename(columns={0:"AlphaHelix"})
AlphaHelix.head()

   AlphaHelix
0        1.29
1        1.11
2        1.30
3        1.47
4        1.44

In [5]:
BetaSheet = [0.90,0.74 ,1.02 ,0.97 ,0.75 ,0.80 ,1.08 ,0.77, 1.49,1.45 ,1.32 ,1.25 ,1.14 ,1.21 ,0.92 ,0.95,
            0.72,0.76,0.64,0.99]
BetaSheet = pd.DataFrame(BetaSheet)
BetaSheet = BetaSheet.rename(columns={0:"BetaSheet"})
BetaSheet.head()

   BetaSheet
0       0.90
1       0.74
2       1.02
3       0.97
4       0.75

In [6]:
Turn = [0.78,0.80,0.59,0.39,1,0.97,0.69,0.96,0.47,0.51,0.58,1.05,0.75, 1.03, 1.64, 1.33, 1.41, 1.23, 1.91, 0.88]

Turn = pd.DataFrame(Turn)
Turn = Turn.rename(columns={0:"Turn"})
Turn.head()

   Turn
0  0.78
1  0.80
2  0.59
3  0.39
4  1.00

In [7]:
chou_fasman_chart = pd.concat([AminoAcid,AlphaHelix],sort = False, axis=1)
chou_fasman_chart.head()

  AminoAcid  AlphaHelix
0       Ala        1.29
1       Cys        1.11
2       Leu        1.30
3       Met        1.47
4       Glu        1.44

In [8]:
# #chou_fasman_dict = {
#   'Ala': 1.29,
#   'Cys': 1.11,
#   'Leu': 1.3,
#   'Met': 1.47,
#   'Glu': 1.44,
#   'Gln': 1.27,
#   'His': 1.22,
#   'Lys': 1.23,
#   'Val': 0.91,
#   'Ile': 0.97,
#   'Phe': 1.07,
#   'Tyr': 0.72,
#   'Trp': 0.99,
#   'Thr': 0.82,
#   'Gly': 0.56,
#   'Ser': 0.82,
#   'Asp': 1.04,
#   'Asn': 0.9,
#   'Pro': 0.52,
#   'Arg': 0.96}

In [32]:
chou_fasman_dict2 = {
  'Ala': 1.29,
  'Cys': 1.11,
  'Leu': 1.3,
  'Met': 1.47,
  'Glu': 1.44,
  'Gln': 1.27,
  'His': 1.22,
  'Lys': 1.23,
  'Val': 0.91,
  'Ile': 0.97,
  'Phe': 1.07,
  'Tyr': 0.72,
  'Trp': 0.99,
  'Thr': 0.82,
  'Gly': 0.56,
  'Ser': 0.82,
  'Asp': 1.04,
  'Asn': 0.9,
  'Pro': 0.52,
  'Arg': 0.96,
  'A': 1.29,
  'C': 1.11,
  'L': 1.3,
  'M': 1.47,
  'E': 1.44,
  'Q': 1.27,
  'H': 1.22,
  'K': 1.23,
  'V': 0.91,
  'I': 0.97,
  'F': 1.07,
  'Y': 0.72,
  'W': 0.99,
  'T': 0.82,
  'G': 0.56,
  'S': 0.82,
  'D': 1.04,
  'N': 0.9,
  'P': 0.52,
  'R': 0.96
}

In [33]:
chou_fasman_dict2["A"]

1.29

In [34]:
chou_fasman_dict2["Ala"]

1.29

In [116]:
#made a dummy list
#used the index from the list to extract name. Then I add the propensity number from dictionary to newList
dummyList2 = ['A', "M",'C', 'H', 'L', 'P',"F",'I',"L"]
AA_list = []
for i in range(len(dummyList2)):
    label = dummyList2[i]
    AA_list.append(chou_fasman_dict2[label])
print(AA_list)

[1.29, 1.47, 1.11, 1.22, 1.3, 0.52, 1.07, 0.97, 1.3]

In [117]:
#H is for helix and - is no helix
#compares the number in the list to 1 and if >=1 add H 

protStruct =[]
for i in range(len(AA_list)):
    if AA_list[i] >= 1:
        protStruct.append("H")
    else:
        protStruct.append("-")
print(protStruct)

['H', 'H', 'H', 'H', 'H', '-', 'H', '-', 'H']

In [136]:
def AA2Helix(proteinFile):
    fileContents = open(proteinFile, 'r')
    aaSeq = fileContents.read().replace('\n', '').replace(' ', '')
    aaSeqList = list(aaSeq)
    
    num_list = []
    for i in range(len(aaSeqList)):
        label = aaSeqList[i]
        num_list.append(chou_fasman_dict2[label])
    prot2Struct =[]
    for i in range(len(num_list)):
        if num_list[i] >= 1:
            prot2Struct.append("H")
        else:
            prot2Struct.append("-")
    print(prot2Struct)

In [137]:
AA2Helix("protSequence.txt")

['-', '-', '-', 'H', '-', '-', 'H', 'H', '-', '-', 'H', '-', '-', '-', 'H', '-', 'H', 'H', 'H', '-', 'H', 'H', 'H', '-', '-', 'H', '-', 'H', 'H', 'H', 'H', '-', 'H', 'H', '-', '-', '-', '-', '-', '-', 'H', '-', 'H', '-', 'H', 'H', '-', '-', '-', '-', 'H', '-', '-', '-', '-', 'H', 'H', 'H', '-', 'H', '-', '-', '-', '-', '-', 'H', 'H', '-', '-', 'H', '-', 'H', '-', '-', 'H', '-', 'H', '-', '-', '-', 'H', '-', '-', '-', '-', '-', 'H', '-', '-', '-', '-', '-', '-', '-', 'H', 'H', '-', '-', 'H', 'H']

In [ ]:
beta_dict = {
  'Ala': 0.9,
  'Cys': 0.74,
  'Leu': 1.02,
  'Met': 0.97,
  'Glu': 0.75,
  'Gln': 0.8,
  'His': 1.08,
  'Lys': 0.77,
  'Val': 1.40,
  'Ile': 1.45,
  'Phe': 1.32,
  'Tyr': 1.25,
  'Trp': 1.14,
  'Thr': 1.21,
  'Gly': 0.92,
  'Ser': 0.95,
  'Asp': 0.72,
  'Asn': 0.76,
  'Pro': 0.64,
  'Arg': 0.99,
  'A': 0.9,
  'C': 0.74,
  'L': 1.02,
  'M': 0.97,
  'E': 0.75,
  'Q': 0.80,
  'H': 1.08,
  'K': 0.77,
  'V': 1.49,
  'I': 1.45,
  'F': 1.32,
  'Y': 1.25,
  'W': 1.14,
  'T': 1.21,
  'G': 0.92,
  'S': 0.95,
  'D': 0.72,
  'N': 0.76,
  'P': 0.6,
  'R': 
}