In [2]:
import pandas as pd
import numpy as np

In [3]:
AminoAcid = ["Ala", "Cys", "Leu","Met","Glu","Gln","His","Lys","Val","Ile","Phe","Tyr","Trp","Thr","Gly","Ser","Asp",
             "Asn","Pro","Arg"]
AminoAcid = pd.DataFrame(AminoAcid)
AminoAcid = AminoAcid.rename(columns = {0:"AminoAcid"})
AminoAcid.head()

  AminoAcid
0       Ala
1       Cys
2       Leu
3       Met
4       Glu

In [4]:
AlphaHelix = [1.29,1.11,1.30,1.47,1.44,1.27,1.22,1.23,0.91,0.97,1.07,0.72,0.99, 0.82,0.56,0.82,1.04,0.90,0.52,0.96]
AlphaHelix = pd.DataFrame(AlphaHelix)
AlphaHelix = AlphaHelix.rename(columns={0:"AlphaHelix"})
AlphaHelix.head()

   AlphaHelix
0        1.29
1        1.11
2        1.30
3        1.47
4        1.44

In [5]:
BetaSheet = [0.90,0.74 ,1.02 ,0.97 ,0.75 ,0.80 ,1.08 ,0.77, 1.49,1.45 ,1.32 ,1.25 ,1.14 ,1.21 ,0.92 ,0.95,
            0.72,0.76,0.64,0.99]
BetaSheet = pd.DataFrame(BetaSheet)
BetaSheet = BetaSheet.rename(columns={0:"BetaSheet"})
BetaSheet.head()

   BetaSheet
0       0.90
1       0.74
2       1.02
3       0.97
4       0.75

In [6]:
Turn = [0.78,0.80,0.59,0.39,1,0.97,0.69,0.96,0.47,0.51,0.58,1.05,0.75, 1.03, 1.64, 1.33, 1.41, 1.23, 1.91, 0.88]

Turn = pd.DataFrame(Turn)
Turn = Turn.rename(columns={0:"Turn"})
Turn.head()

   Turn
0  0.78
1  0.80
2  0.59
3  0.39
4  1.00

In [106]:
chou_fasman_chart = pd.concat([AminoAcid,AlphaHelix],sort = False, axis=1)
chou_fasman_chart.head()

  AminoAcid  AlphaHelix
0       Ala        1.29
1       Cys        1.11
2       Leu        1.30
3       Met        1.47
4       Glu        1.44

In [103]:
chou_fasman_dict = {'Ala': 1.29,
  'Cys': 1.11,
  'Leu': 1.3,
  'Met': 1.47,
  'Glu': 1.44,
  'Gln': 1.27,
  'His': 1.22,
  'Lys': 1.23,
  'Val': 0.91,
  'Ile': 0.97,
  'Phe': 1.07,
  'Tyr': 0.72,
  'Trp': 0.99,
  'Thr': 0.82,
  'Gly': 0.56,
  'Ser': 0.82,
  'Asp': 1.04,
  'Asn': 0.9,
  'Pro': 0.52,
  'Arg': 0.96}

In [117]:
chou_fasman_dict

{'Ala': 1.29,
 'Cys': 1.11,
 'Leu': 1.3,
 'Met': 1.47,
 'Glu': 1.44,
 'Gln': 1.27,
 'His': 1.22,
 'Lys': 1.23,
 'Val': 0.91,
 'Ile': 0.97,
 'Phe': 1.07,
 'Tyr': 0.72,
 'Trp': 0.99,
 'Thr': 0.82,
 'Gly': 0.56,
 'Ser': 0.82,
 'Asp': 1.04,
 'Asn': 0.9,
 'Pro': 0.52,
 'Arg': 0.96}

In [144]:
dummyList = ['Asn', "Met",'Pro', 'Arg', 'Phe', 'Ser',"Phe",'Ile',"Leu"]
newList = []
for i in range(len(dummyList)):
    value = dummyList[i]
    newList.append(chou_fasman_dict[value])
print(newList)

[0.9, 1.47, 0.52, 0.96, 1.07, 0.82, 1.07, 0.97, 1.3]

In [142]:
# M =chou_fasman_chart.loc[(chou_fasman_chart["AminoAcid"]=="Met")].index()
# G = chou_fasman_chart.loc[(chou_fasman_chart["AminoAcid"]=="Glu")]
# H = chou_fasman_chart.loc[(chou_fasman_chart["AminoAcid"]=="His")]
# L= chou_fasman_chart.loc[(chou_fasman_chart["AminoAcid"]=="Leu")]
# S = chou_fasman_chart.loc[(chou_fasman_chart["AminoAcid"]=="Ser")]


# prteinSeq = {"Met":M.AlphaHelix,"Glu":G.AlphaHelix ,"His":H.AlphaHelix,"Leu":L.AlphaHelix,"Ser":S.AlphaHelix }
# prteinSeq